<!DOCTYPE html>

<html>
  <head>
    <title>Unit 2 Birthday</title>
  </head>

  <body>
    <h2>What is your birthday?</h2>
    <form method="post">
      <label>Month 
          <input type="text" name="month" value={{month}}>
      </label>
      <label>Day 
          <input type="text" name="day" value={{day}}>
      </label>
      <label>Year 
          <input type="text" name="year" value={{year}}>
      </label>
      <div style="color: red">{{error}}</div>
      <input type="submit">
    </form>
  </body>

</html>