<!DOCTYPE html>

<html>
<head>
  <link type = 'text/css' rel = 'stylesheet' href = '/static/main.css' />

  <title>James's Web Apps</title>
</head>

<body>
  <a href = '/' class = 'main-title'>
    {{text}}
  </a>
  <h2>Mini Projects:</h2>
  <ul>
    <li>
      <a class = 'login-link' href = '/birthday'>Birthday Validation</a>
      Checks for a valid birthday and redirects to a thanks page if valid.
    </li>
    <li>
      <a class = 'login-link' href = '/rot13'>ROT13 Encyption</a>
      Retrieves text and POSTs back to the form with the text encoded with ROT13.
    </li>
    <li>
      <a class = 'login-link' href = '/cookie'>Cookie</a>
      Keeps track of the how many times you've visited the site.
    <li>
      <a class = 'login-link' href = '/asciichan'>/ascii/</a>
      A miniblog of /ascii/ art featuring geolocation mapping to posts.
    </li>
    </li>
  </ul>
  <h2>Blog:</h2>
  <ul>
    <li>
      <a class = 'login-link' href = '/blog'>Front Page</a>
      My blog featuring user signup, login, logout, permalink, and new post pages. Outputs the blog and individual posts to JSON when '.json' is appended to the url.
    </li>
  </ul>
</body>

</html>