<!DOCTYPE html>

<html>
<head>
  <link type = 'text/css' rel = 'stylesheet' href = '/static/main.css' />

  <title>James Kao's Web Apps</title>
</head>

<body>
  <a href = '/' class = 'main-title'>
    {{text}}
  </a>
  <h2>Mini Projects:</h2>
  <ul>
    <li>
      <a href = 'http://www.thekao.com/birthday'>
        Birthday Validation
      </a>
      A web app that checks for a valid birthday and redirects to a thanks page if valid.
    </li>
    <li>
      <a href = 'http://www.thekao.com/rot13'>
        ROT 13 Encryption
      </a>
      A web app that retrieves text and POSTs back to the form with the text encoded with ROT13.
    </li>
    <li>
      <a href = 'http://www.thekao.com/cookie'>
        Cookie
      </a>
      A web app that keeps track of the how many times you've visited the site.
    <li>
      <a href = 'http://www.thekao.com/asciichan'>
        /ascii/
      </a>
      A blog of /ascii/ art featuring geolocation mapping to posts.
    </li>
    </li>
  </ul>
  <h2>Blog:</h2>
  <ul>
    <li>
      <a href = 'http://www.thekao.com/blog'>
        Front Page
      </a>
      My blog featuring user signup, login, logout, and permalink pages. Outputs the blog and individual posts to JSON when '.json' is appended to the url.
    </li>
    <li>
      <a href = 'http://www.thekao.com/newpost'>
        New Post
      </a>
      A form to submit new posts to my blog once a user has registered and logged in. Redirects back to the login page otherwise.
    </li>
  </ul>
</body>

</html>