<!DOCTYPE html>

<html>
<head>
  <link type = 'text/css' rel = 'stylesheet' href = '/static/main.css' />

  <title>James Kao's Web Apps</title>
</head>

<body>
  <a href = '/' class = 'main-title'>
    {{text}}
  </a>
  <h2>Links:</h2>
  <ul>
    <li>
      <a href = 'http://www.thekao.com/birthday'>
        Birthday Validation
      </a>
    </li>
    <li>
      <a href = 'http://www.thekao.com/rot13'>
        ROT 13 Encryption
      </a>
    </li>
    <li>
      <a href = 'http://www.thekao.com/cookie'>
        Cookie
      </a>
    </li>
    <li>
      <a href = 'http://www.thekao.com/blog'>
        Blog
      </a>
    </li>
    <li>
      <a href = 'http://www.thekao.com/blog/newpost'>
        New Post
      </a>
    </li>
    <li>
      <a href = 'http://www.thekao.com/asciichan'>
        /ascii/
      </a>
    </li>
  </ul>
</body>

</html>