{% extends 'base.html' %}

{% block headings %}

  <meta name="description" content="Login">

  <title>Login</title>

  <!-- Custom styles for this template -->
  <link href="/css/login.css" rel="stylesheet">

{% endblock %}

{% block content %}

  <div class="container">

    <form class="form-signin" role="form" method="post">
      <h2 class="form-signin-heading">Log in</h2>
      <input type="text" name="username" class="form-control" placeholder="Username" value = '{{username}}' required autofocus>
      <input type="password" name="password" class="form-control" placeholder="Password" value = '' required>
      <!--label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
      </label-->
      <div class = 'error'>
        {{error}}
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

   </div> <!-- /container -->

{% endblock %}
